#-*-Makefile-*-
#$Id: epic.target,v 1.5 2010-02-26 23:36:34 sdhsdh Exp $

PLATFORM ?= epic

OPTFLAGS ?= -Os

# Default BSL assumes telosb-like programming interface
MSP_BSL ?= tos-bsl
MSP_BSL_FLAGS = --telosb

$(call TOSMake_include_platform,epic)
$(call TOSMake_include_platform,msp)

epic: $(BUILD_DEPS)
	@:
