PLATFORM ?= epic

OPTFLAGS ?= -Os

# Default BSL assumes telosb-like programming interface
MSP_BSL ?= tos-bsl
MSP_BSL_FLAGS = --telosb

$(call TOSMake_include_platform,epic)
$(call TOSMake_include_platform,msp)

epic: $(BUILD_DEPS)
	@:
